#intro {
    height: auto;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: visible;
    position: relative;
}

.introContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.bg {
    object-fit: cover;
    border-radius: 50%;
    width: 300px; /* Adjust the size as needed */
    height: 300px; /* Ensure the height matches the width */
    margin: 1rem;
}



.introContent {
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 300;
}

.introName {
    color: rgb(244, 18, 18);
}

.introPara {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
    width: 80vw;
}

.hireButton {
    background: white;
    margin: 1rem 0;
    color: black;
    padding: 0.75rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 2rem;
    font-size: medium;
    font-weight: 500;
}

.hireLogo {
    object-fit: cover;
    margin: 0 0.50rem;
    height: 2rem;
    width: 2rem;
}

@media screen and (max-width: 840px) {
    .introContainer {
        flex-direction: column;
    }

    .introContent {
        font-size: 2rem;
    }

    .hello {
        font-size: 1.5rem;
    }

    .introPara {
        width: 90%;
    }

    .bg {
        width: 200px; /* Adjust size for smaller screens */
        height: 200px;
    }
}

@media screen and (max-width: 520px) {
    .introContent {
        font-size: 1.5rem;
    }

    .hello {
        font-size: 1.25rem;
    }

    .introPara {
        width: 95%;
    }

    .bg {
        width: 150px; /* Adjust size for even smaller screens */
        height: 150px;
    }
}
